<footer role="footer" class="container">
  <section class="row">
    <article class="column">
      <h2>Info</h2>
      <ul>
        <li>
          <a href="http://junyang.info/">Jun Yang</a>
        </li>
        <li>
          <a href="https://christopheradams.io">Christopher Adams</a>
        </li>
      </ul>
    </article>
    <article class="column">
      <h2>Links</h2>
      <ul>
        <li>
          <a href="https://www.mocataipei.org.tw/tw/ExhibitionAndEvent/Info/%E6%A5%8A%E4%BF%8A%E3%80%80%E8%97%9D%E8%A1%93%E5%AE%B6%EF%BC%8C%E5%90%88%E4%BD%9C%E8%80%85%EF%BC%8C%E4%BB%96%E5%80%91%E7%9A%84%E5%B1%95%E8%A6%BD%E8%88%87%E4%B8%89%E5%80%8B%E5%A0%B4%E5%9F%9F/%E3%80%8A%E4%B8%96%E7%95%8C%E6%89%80%E6%9C%89%E7%9A%84%E9%A1%8F%E8%89%B2%E3%80%8B">MOCA Taipei</a>
        </li>
      </ul>
    </article>
  </section>
</footer>
