<footer role="footer" class="container">
  <section class="row">
    <article class="column">
      <h2>Info</h2>
      <ul class="footer-list">
        <li>
          <a href="http://junyang.info/about/">Jun Yang</a>
          is an artist based in Vienna, Taipei, and Yokohama.
        </li>
        <li>
          <a href="https://christopheradams.io/about/">Christopher Adams</a>
          is an artist and computer programmer based in Taipei.
        </li>
      </ul>
    </article>
    <article class="column">
      <h2>Links</h2>
      <ul class="footer-list">
        <li>
          <a href="https://www.mocataipei.org.tw/tw">MOCA Taipei</a>
          is a museum of contemporary art, located in Datong District, Taipei.
        </li>
      </ul>
    </article>
  </section>
</footer>
