<footer role="footer" class="container">
  <section class="row">
    <article class="column">
      <h2>Info</h2>
      <ul>
        <li>
          <a href="http://junyang.info/">Jun Yang</a>
        </li>
        <li>
          <a href="https://christopheradams.io">Christopher Adams</a>
        </li>
      </ul>
    </article>
    <article class="column">
      <h2>Links</h2>
      <ul>
        <li>
          <a href="https://www.mocataipei.org.tw/tw">MOCA Taipei</a>
        </li>
      </ul>
    </article>
  </section>
</footer>
