---
---
@import "main";
@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel');

#header {
  h1 {
    font-family: 'Lovers Quarrel', cursive;
    font-size: 5em;
    line-height: 0.7em;
  }
}

.deck {
  font-size: 1.35em;
  line-height: 1.65em;
}

.posters {
  width: 100%;
  display: flex;
  .poster {
    img {
      width: 100%;
    }
  }
}
