---
---
<html>
  <head>
    {% include head.html %}
  </head>
  <body class="is-preload">

    <!-- Header -->
    {% include header.html %}

    <main role="main" class="container">
      <p class="alert alert-info" role="alert"></p>
      <p class="alert alert-danger" role="alert"></p>
      {{ content }}
    </main>

    <!-- Signup Form -->
    <div class="container">
      {% include signup.html %}
    </div>

    <!-- Footer -->
    {% include footer.html %}

    <!-- Scripts -->
    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>

  </body>
</html>
